body{
    background-color: #d4dee6;
}

::-webkit-scrollbar {
    max-width: 10px;
    max-height: 10px;
}

::-webkit-scrollbar-track{
    background: #d4dee6;
}

::-webkit-scrollbar-thumb{
    background: cornflowerblue;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
    background: #649bf3;
}

h1{
    text-align: center;
    font-weight: bold;
    color: midnightblue;
}

.tabel{
    border-width: 2px;
    border-color: #6482da;
    border-style: solid;
    display: block;
    float: top;
    position: relative;
    left: 40%;
    border-collapse: collapse;
    width: fit-content;
    border-radius: 10px;
}

th {
    border-right-width: 1px;
    border-right-color: #6482da;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #6482da;
    border-bottom-style: solid;
    margin: auto;
    padding:5px;
    background-color: cornflowerblue;
    color: aliceblue;
    font-size: 17px;
}

td{
    border-right-width: 1px;
    border-right-color: #6482da;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #6482da;
    border-bottom-style: solid;
    margin: auto;
    padding:5px;
    color: midnightblue;
}

.button{
    display: inline-block;
    outline: none;
    border-radius: 3px;
    margin: 5px;
    padding: 4px 4px;
    color: aliceblue;
    background-color: cornflowerblue;
    text-align: center;
    border: none;
    position:relative;
    font-size: 14px;
    font-weight: bold;
}

.button:hover{
    color: white;
    background-color: #649bf3;
}