<web-app>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrganizareServlet</servlet-name>
        <servlet-class>OrganizareServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectSalaServlet</servlet-name>
        <servlet-class>SelectSalaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreareEvenimentServlet</servlet-name>
        <servlet-class>CreareEvenimentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditareSaliServlet</servlet-name>
        <servlet-class>EditareSaliServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdaugareSalaServlet</servlet-name>
        <servlet-class>AdaugareSalaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StergereSalaServlet</servlet-name>
        <servlet-class>StergereSalaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSalaServlet</servlet-name>
        <servlet-class>UpdateSalaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFormSalaServlet</servlet-name>
        <servlet-class>UpdateFormSalaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfisareEvenServlet</servlet-name>
        <servlet-class>AfisareEvenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StergereEvenimentServlet</servlet-name>
        <servlet-class>StergereEvenimentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEvenServlet</servlet-name>
        <servlet-class>UpdateEvenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFormEvenServlet</servlet-name>
        <servlet-class>UpdateFormEvenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvitaServlet</servlet-name>
        <servlet-class>InvitaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvitaFormServlet</servlet-name>
        <servlet-class>InvitaFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfisareInvitatii</servlet-name>
        <servlet-class>AfisareInvitatii</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInvitatie</servlet-name>
        <servlet-class>UpdateInvitatie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfisareCont</servlet-name>
        <servlet-class>AfisareCont</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfisareStatistici</servlet-name>
        <servlet-class>AfisareStatistici</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrganizareServlet</servlet-name>
        <url-pattern>/OrganizareServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectSalaServlet</servlet-name>
        <url-pattern>/SelectSalaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreareEvenimentServlet</servlet-name>
        <url-pattern>/CreareEvenimentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditareSaliServlet</servlet-name>
        <url-pattern>/EditareSaliServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdaugareSalaServlet</servlet-name>
        <url-pattern>/AdaugareSalaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StergereSalaServlet</servlet-name>
        <url-pattern>/StergereSalaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSalaServlet</servlet-name>
        <url-pattern>/UpdateSalaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFormSalaServlet</servlet-name>
        <url-pattern>/UpdateFormSalaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfisareEvenServlet</servlet-name>
        <url-pattern>/AfisareEvenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StergereEvenimentServlet</servlet-name>
        <url-pattern>/StergereEvenimentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEvenServlet</servlet-name>
        <url-pattern>/UpdateEvenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFormEvenServlet</servlet-name>
        <url-pattern>/UpdateFormEvenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvitaServlet</servlet-name>
        <url-pattern>/InvitaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvitaFormServlet</servlet-name>
        <url-pattern>/InvitaFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfisareInvitatii</servlet-name>
        <url-pattern>/AfisareInvitatii</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInvitatie</servlet-name>
        <url-pattern>/UpdateInvitatie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfisareCont</servlet-name>
        <url-pattern>/AfisareCont</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfisareStatistici</servlet-name>
        <url-pattern>/AfisareStatistici</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>